.msg_block {
  margin: 0;
  width: 80%;
  background-color: #1976d2;
  border: 2px solid #fff;
  font-size: 12px;
  font-weight: 400;
}
.msg_header {
  padding: 5px;
}
.msg_author {
  color: #fff;
}
.msg_author_user {
  color: aquamarine;
}
.msg_text {
  margin: 0 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 18px;
  color: #1976d2;
}
.msg_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.msg_send_time {
  color: #fff;
}
