.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatList-page-title {
  font-size: 24px;
}

.chatList-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 700px;
}
.chat-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 1px solid #000;
  text-decoration: none;
  color: #1240ab;
  background-color: #ffaa00;
}

.chat-card:hover {
  cursor: pointer;
}

.chat-title {
  display: block;
  border-bottom: 2px solid #000;
  text-align: center;
  font-size: 21px;
  text-transform: capitalize;
}

.chat-description {
  padding: 10px;
}
