.wrp {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.no_message_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.no_message {
  font-size: 22px;
}
