body {
  margin: 0;
  padding: 0;
  background-color: rgb(122, 32, 100);
}
.container {
  margin: 20px auto;
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.title {
  display: block;
  border: 1px solid #fff;
  margin: 5px 0;
  padding: 10px 100px;
  font-size: 32px;
}
